<!-- views/pages/hall.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Hall of Fame</h2>
            <p>TmaxData 역사의 한 켠을 장식하신 분들을 소개합니다.</p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">코드 지분율</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">IMS handling</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">Commit</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">출석</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">사이트 출장</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">집중회의</span></h3>
            <p><%= notice %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">Maestro</span></h3>
            <p>백설기, 이재욱, 김철우, 나정호</p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">Super Rookie</span></h3>
            <p>남윤수</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
